*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container 
{
    text-align: center;
    margin-top: 3rem;
}
/* .container .header .restart-btn
{
 display: none;
} */
.container h2
{
    margin-top: 2rem;
}
.header h1
{
    text-align: center;
    font-weight: 800;
}
.score
{
    display: flex;
    width: 70%;
   margin-left: 22rem;
   height: 2rem;
   
   
}
.score p
{
    padding: 5px 0;
}
.score p{
    width: 35%;
    
}

.score #p12
{
    background-color: rgba(0, 0, 255, 0.752);
    color: #fff;
}
.score #c12
{
    background-color: rgba(0, 0, 0, 0.932);
    color: #fff;
}
.choices i
{
    margin: 3rem;
    cursor: pointer;
}
.modal-1
{
    display: flex;
    width: 100%;
    margin-left: 20rem;
    


}
.modal-1 p{
    width: 20%;
    /* background-color: red; */
    margin: 0.5rem 2rem;
    padding: 0 0.5rem;
}